@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html,
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.7em;
  background: #f4f4f4;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
}
#header {
  background: #fff;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-header img {
  height: 50px;
}
.social-header {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.social-header i {
  margin: 5px;
  color: #666;
}
.nav-list {
  grid-column: 4/5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.nav-list li a {
  padding: 15px;
  font-weight: 600;
}
.nav-list li a:hover {
  background: #999;
}
.nav-list li a.current {
  background: #be2727;
  color: #fff;
}

/* HERO SECTION */
#hero-section {
  background: url(../img/featured.jpg) no-repeat center/cover;
  height: 100vh;
  animation: animate 30s ease-in-out infinite alternate-reverse forwards;
}
#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.7);
  opacity: 1;
}
#hero-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  color: #fff;
}
#hero-section .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}
#hero-section h1 {
  font-size: 2rem;
  margin-top: 20px;
}
#hero-section p {
  margin-bottom: 20px;
}

/* ARTICLES */
#article {
  background: #f4f4f4;
}
#article-header {
  padding-top: 20px;
  margin-bottom: 0;
}
#articles {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "item-1 item-1 item-2"
    "item-3 item-4 item-5"
    "item-3 item-4 item-5"
    "item-6 item-7 item-7";
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
#articles .item {
  margin: 5px;
}
#articles .item p,
#articles .item h2 {
  margin-left: 10px;
  margin-bottom: 10px;
}
/* item 1 */

#articles .item-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

#articles .item-1 img {
  width: 100%;
}
/* item 2 */
#articles .item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* item 3 */
#articles .item-3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

#articles .item-3 img {
  width: 100%;
}
/* item 4 */
#articles .item-4 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}
#articles .item-4 img {
  width: 100%;
}
/* item 5 */
#articles .item-5 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

#articles .item-5 img {
  width: 100%;
}
/* ITEM 6 */
#articles .item-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ITEM 7 */
#articles .item-7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

#articles .item-7 img {
  width: 100%;
}
.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}
.item-6 {
  grid-area: item-6;
}
.item-7 {
  grid-area: item-7;
}

/* FOOTER */
footer {
  height: 35vh;
  width: 100%;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 20px;
  margin-right: 40px;
}
.footer img {
  height: 50px;
}
footer .form-group input {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}
.links ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
footer .links li {
  padding-top: 15px;
  width: 100%;
  border-bottom: #666 solid 1px;
}
footer .links a {
  color: #fff;
}
.footer h2 {
  font-size: 16px;
}
.main-footer {
  display: flex;
  height: 10vh;
  color: #fff;
  text-align: center;
}
.main-footer .container {
  width: 100%;
  background: #444;
}
.main-footer .container p {
  font-size: 10px;
}

.burger.desktop-hide {
  display: none;
}

/* Tablet */
@media (max-width: 768px) and (min-width: 558px) {
  #hero-section .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 50px;
  }
  #articles {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "item-1 item-1"
      "item-2 item-2"
      "item-3 item-4"
      "item-3 item-4"
      "item-5 item-6"
      "item-5 item-6"
      "item-7 item-7";
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  footer {
    height: 50vh;
  }
  #footer {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "description email"
      "links membership";
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  .description {
    grid-area: description;
  }
  .email {
    grid-area: email;
  }
  .links {
    grid-area: links;
  }
  .membership {
    grid-area: membership;
  }
  .burger.desktop-hide {
    display: block;
    font-size: 2rem;
    margin: auto;
  }
  .nav-list.hide li a {
    display: none;
  }
  .nav-list {
    transition: height 0.7s ease-in-out;
    flex-direction: column;
    position: absolute;
    height: 100px;
    width: 200px;
    margin-top: 0;
    top: 70px;

    right: 30px;
    background: #fff;
  }
  .nav-list li {
    display: flex;
    width: 100%;
  }
  .nav-list a {
    width: 100%;
  }
  #triggerIcon {
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .nav-list.open {
    height: 500px;
  }
  .nav-list.hide {
    height: 0;
  }
}
@media (max-width: 557px) {
  #hero-section .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 50px;
  }
  #articles {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-4"
      "item-5"
      "item-6"
      "item-7";
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  footer {
    height: 80vh;
    text-align: center;
  }
  #footer {
    display: grid;
    grid-gap: 10px;
    grid-row: repeat(1, 1fr);
    grid-template-areas:
      "description"
      "email"
      "links"
      "membership";
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  .footer {
    align-items: center;
    margin: 10px 35px;
  }
  .description {
    grid-area: description;
  }
  .email {
    grid-area: email;
  }
  .links {
    grid-area: links;
  }
  .membership {
    grid-area: membership;
  }
  .burger.desktop-hide {
    display: block;
    font-size: 2rem;
    margin: auto;
  }
  .social-header {
    display: none;
  }
  .nav-list.hide li a {
    display: none;
  }
  .nav-list {
    transition: height 0.5s ease-in-out;
    flex-direction: column;
    position: absolute;
    height: 100px;
    width: 200px;
    top: 65px;
    right: 30px;
    background: #fff;
  }
  .nav-list li {
    display: flex;
    width: 100%;
  }
  .nav-list a {
    width: 100%;
  }
  #triggerIcon {
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .nav-list.open {
    height: 500px;
  }
  .nav-list.hide {
    height: 0;
  }
}

@keyframes animate {
  0% {
    background-image: url(../img/icon.png);
  }
  20% {
    background-image: url(../img/featured.jpg);
  }
  40% {
    background-image: url(../img/articles/sports1.jpg);
  }
  60% {
    background-image: url(../img/articles/ent2.jpg);
  }
  80% {
    background-image: url(../img/articles/sports1.jpg);
  }
  100% {
    background-image: url(../img/articles/tech1.jpg);
  }
}
.article-image {
  transform: scale(1);
  transition: 0.9s cubic-bezier(0.86, 1.01, 0.42, 0.21);
}
.post:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
